# Database
DATABASE_URL="file:./dev.db"

# Paystack
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=

# Ops
ADMIN_PASSWORD=change-me
WHATSAPP_NUMBER=233549092316
SHIPPING_ACCRA_FEE_PESEWAS=2500
NEXT_PUBLIC_SITE_URL=https://edismartgh.com
